.document-list {
	flex: auto;
	display: flex;
	flex-direction: column;
}

.document-list .table-row {
	display: flex;
}

.document-list .table-header-row {
	flex: 0 0 50px;
	font-weight: 600;
}

.document-list .table-body-row {
	flex: 0 0 50px;
}


.document-list .table-row .table-cell:nth-child(1) {
	flex: 1 1 150px;
}

.document-list .table-row .table-cell:nth-child(2) {
	flex: 1 1 50px;
}

.document-list .table-row .table-cell:nth-child(3) {
	flex: 1 1 80px;
}

.document-list .table-row .table-cell:nth-child(4) {
	flex: 1 1 150px;
}