.vertical-portal-navbar {
  width: 100%;
  height: 50px;
  box-shadow: 2px 0px 4px 0px rgba(182, 182, 182, 0.5);

  .ant-menu-title-content {
    font-size: 12px;
  }

  .portal-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    .ant-menu-overflow-item {
      width: 11%;
      display: flex;
      justify-content: center;
    }
  }
}
.ant-menu-vertical {
  font-size: 12px;
}

@media screen and (max-width: 1050px) {
  .vertical-portal-navbar .portal-navbar .ant-menu-overflow-item .ant-menu-title-content {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }
}
