.solution-control .solution-control-button{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	background-color: #4b58d3;
	border: none;
	color: #ffffff;
	cursor: pointer;
	margin-right: 10px;
}