html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.home-guide {
	flex: 0 0 80%;
	display: flex;
	margin-top: -40px;
}

.home-guide .home-guide-background {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.home-guide .home-guide-content {
	width: 50%;
	box-sizing: border-box;
	display: flex;
}

.home-guide .home-guide-text {
	width: 500px;
	height: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.home-guide .home-guide-text .home-guide-title {
	font-size: 45px;
	color: #ffffff;
	cursor: default;
}

.home-guide .home-guide-text .home-guide-description {
	font-size: 20px;
	color: #ffffff;
	height: 100px;
	line-height: 42px;
	margin: 30px 0;
	cursor: default;
}

.home-guide .home-guide-text .home-guide-button {
	width: 220px;
	height: 38px;
	border-radius: 5px;
	font-size: 18px;
	color: #ffffff;
	background-color: #62bdff;
	border: none;
	margin-top: 20px;
	cursor: pointer;
}

.home-guide .home-guide-video {
	flex: 1;
	display: flex;
}

.home-guide .home-guide-video .home-guide-video-player {
	background-color: black;
	width: 540px;
	height: 300px;
	margin: auto;
}

.home-separate {
	color: #333333;
	font-size: 24px;
	cursor: default;
	margin: 6% 6% 0 6%;
	display: flex;
	align-items: center;
}

.home-separate-line {
	height: 1px;
	background-color: #d8d8d8;
	box-sizing: border-box;
	flex: 1 0 auto;
	margin: 0 30px;
}

.home-start {
	display: flex;
	justify-content: space-around;
	margin-top: 4%;
}

.home-start .home-start-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-start .home-start-item .home-start-item-content {
	width: 327px;
	height: 327px;
	cursor: default;
	padding: 15px 35px;
	border-radius: 10px;
	background-color: #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px 1px rgba(193, 193, 193, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.home-start .home-start-item .home-start-item-content .item-icon {
	width: 102px;
	height: 102px;
	background-color: #f1f9ff;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-start .home-start-item .home-start-item-content .item-title {
	font-size: 20px;
}

.home-start .home-start-item .home-start-item-button {
	width: 170px;
	height: 40px;
	border-radius: 5px;
	background-image: linear-gradient(90deg, #4a6ad1 0%, #7261fc 100%);
	box-sizing: border-box;
	border: none;
	color: #ffffff;
	font-size: 18px;
	margin: 30px 0 60px 0;
	cursor: pointer;
}